{% extends 'layout.html' %}
{% block content %}
<h1>Панель бухгалтера</h1>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<div>
    <h3>Управление пользователями</h3>
    <p><a href="{% url 'payment_service:payment_list' %}">Оплаты</a></p>
    <p><a href="{% url 'payment_service:charge_list' %}">Начисления</a></p>
    <p><a href="{% url 'payment_service:payment_create' %}">Регистрация оплаты</a></p>
    <p><a href="{% url 'payment_service:debt_list' %}">Задолженности</a></p>
    <p><a href="{% url 'payment_service:tariff_list' %}">Тарифы</a></p>
</div>
<br>

<br>
<p><a href="/">← Выйти из панели</a></p>
{% endblock %}